<div class="row">
  <div class="columns" data-ng-controller="TodoCtrl">
    <h1>To Do</h1>
    <form data-ng-submit="addTask()">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" data-ng-model="taskText" size="30"
                 placeholder="Add a new task."/>
        </div>
        <div class="small-2 columns">
          <input class="button postfix" type="submit" value="Add"/>
        </div>
      </div>
    </form>
    <div>
      <ul class="no-bullet">
        <li data-ng-repeat="task in tasks">
          <label class="done-{{task.done}}">
            <input type="checkbox"
                   data-ng-model="task.done"
                   ng-change="update(task)"/>
            {{task.text}}
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
